name: studypal_staging

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    container_name: postgres-studypal-staging
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data-staging:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          memory: 500M
    command: >
      postgres -c shared_buffers=256MB
               -c work_mem=4MB
               -c max_connections=20
    networks:
      - network-studypal-staging

  app:
    image: rialfield/studypal-mobileapp:latest
    restart: unless-stopped
    container_name: studypal-app-staging
    environment:
      SPRING_PROFILES_ACTIVE: staging
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      CLOUDINARY_URL: ${CLOUDINARY_URL}
      TIMEZONE: ${TIMEZONE}
      JAVA_OPTS: "-Xms128m -Xmx512m"
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: 700M
    networks:
      - network-studypal-staging

volumes:
  postgres-data-staging:

networks:
  network-studypal-staging:
    driver: bridge